@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Bebas+Neue|Fredoka+One&display=swap');



body{

    font-family: 'Barlow', sans-serif;
    background: rgb(238,174,202);
    background: linear-gradient(#ffffff 0%, #018080 100%);
    background-size: 2000% 2000%;
}
.heading{
    text-align: center;
    margin-top: -20px;
}
.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.heading h3{
    margin-top: -45px;
    color: rgb(177, 0, 0);
}