@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Bebas+Neue|Fredoka+One&display=swap');



body{

    font-family: 'Barlow', sans-serif;
    background: #ffffff;
   /* background: linear-gradient(#ffffff 0%, #018080 100%);
    background-size: 2000% 2000%;
    */
}
.heading{
    text-align: center;
    margin-top: -20px;
}
.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.heading h3{
    margin-top: -45px;
    color: rgb(177, 0, 0);
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.box{
    margin: auto;
    box-sizing: border-box;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #c0c0c05e;
    border-style: solid; 
    border-color: rgba(0, 0, 109, 0.692);   
    
}
.box:hover{
    border-color: rgba(114, 0, 0, 0.733);    
}
.get .head{
    text-align: center;
    margin-top: 38%;
    font-weight: 900;
    cursor: pointer;
}
.get .head a{
    text-decoration: none;
    color: seagreen;
}
.get .head a:hover{
    color: rgba(136, 0, 0, 0.616);
    transition: .5s linear;
}
.about{
    text-align: center;
    font-size: 13px;
}
.about a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 1, 85);
}

footer{
    position: relative;
    margin-top: 70px ;
    text-align: center;
    
}
footer .copyright{
    font-size: 10px;
    font-weight: 900;
    color: rgb(124, 0, 0);
}

footer .copyright a{
    text-decoration: none;
    color: rgb(12, 0, 46);
}


footer .social img{
    width: 20px;

}