@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Bebas+Neue|Fredoka+One&display=swap');



body{

    font-family: 'Barlow', sans-serif;
    /*background: linear-gradient(#ffffff 50%, #a0007d 100%);
    background-size: 200% 200%;*/
    
}
.heading{
    text-align: center;
    margin-top: -20px;
}
.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.heading h3{
    margin-top: -45px;
    color: rgb(177, 0, 0);
}




.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.box{
    margin: auto;
    box-sizing: border-box;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #c0c0c05e;
    border-style: solid; 
    border-color: rgba(0, 0, 109, 0.692);   
    
}
.box:hover{
    border-color: rgba(114, 0, 0, 0.733);  
    background: rgb(255, 255, 255);
    transition: .5s linear;  
}
.get .head{
    text-align: center;
    margin-top: 30%;
    font-weight: 900;
    cursor: pointer;
}
.get .head a{
    text-decoration: none;
    color: seagreen;
}
.get .head a:hover{
    color: rgba(136, 0, 0, 0.616);
    transition: .5s linear;
}
.about{
    text-align: center;
    font-size: 11px;
}
.about a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 1, 85);
}

footer{
    position: relative;
    margin-top: 50px ;
    height: 100px;
    display: flex;
    flex-direction: column;
    
}
footer .copyright{
    margin: auto;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    color: rgb(124, 0, 0);
}

footer .copyright a{
    
    text-decoration: none;
    color: rgb(12, 0, 46);
}
footer .social{
    margin: auto;
}

footer .social img{
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
}



/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/

.pcdisc{
    width: 20%;
    position: relative;
    margin-left: 75%;
    margin-top: -20%;
    -moz-animation: cssAnimation 0s ease-in 7s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-out 7s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 7s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-out 7s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
  .pcdisc .text{
      font-size: 10px;
    color: rgba(0, 0, 0, 0.705);
    text-align: center;
    
  }
  
  @media (min-width:320px)  { 
      /* smartphones, iPhone, portrait 480x320 phones */ 
      .pcdisc{
        display: none;
      }
      .parse{
          pointer-events: none;
          position: absolute;
      }
      .parse img{
          width: 200px;
          margin-top: 70%;
          margin-left: -10%;
          pointer-events: none;
      }  
  }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .pcdisc{
        display: none;
      }
      .parse{
          position: absolute;
          pointer-events: none;
      }
      .parse img{
          width: 200px;
          margin-top: 30%;
          margin-left: 20%;
          pointer-events: none;
      }  
  }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .pcdisc{
        display: none;
      }
      .parse{
          position: absolute;
          pointer-events: none;
      }
      .parse img{
          width: 300px;
          margin-top: 30%;
          margin-left: 30%;
          pointer-events: none;
      }  
  }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
      .parse{
          pointer-events: none;
          position: absolute;
      }
      .parse img{
          width: 400px;
          margin-top: 20%;
          margin-left: 20%;
      }  
  }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .parse{
        position: absolute;
    }
    .parse img{
        width: 500px;
        margin-top: 10%;
        margin-left: 10%;
    }  }
@media (min-width:1281px){
    .parse{
        position: absolute;
    }
    .parse img{
        width: 600px;
        margin-top: 10%;
        margin-left: 10%;
    }  
}