@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Bebas+Neue|Fredoka+One&display=swap');



body{

    font-family: 'Barlow', sans-serif;
    background: #ffffff;
   /* background: linear-gradient(#ffffff 0%, #018080 100%);
    background-size: 2000% 2000%;
    */
}
.heading{
    text-align: center;
}
.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: rgb(0, 0, 0);
}
.heading h1 a{
    text-decoration: none;
    color: black;
}
.heading h3{
    margin-top: -30px;
    color: rgb(177, 0, 0);
    font-size: 15px;
}
.about{
    text-align: center;
    font-size: 11px;
}
.about a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 1, 85);
}

.maincontainer{
    display: flex;
    flex-direction: column;
}

.box{
    margin: auto;
    box-sizing: border-box;
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #c0c0c05e;
    border-style: solid; 
    border-color: rgba(0, 0, 109, 0.692);   
    
}
.box:hover{
    border-color: #adadad;  
    background: #940000;
    transition:  .3s;
}
/*the color of the dept name is same as
 that of the color of box on hover.
 so on hovering,the box will rotate,
 and it will seem like the
 name is on the back side of the circle*/

.box .dept{
    position: relative;
    margin-left: 45px;
    font-size: 25px;
    margin-top: 20px;
    color: #940000;
    font-weight: bold;
    pointer-events: none;
}

.box .yearselect{
    margin-top: 5px;
    margin-left: 20px;
    color: #940000;
    font-weight: bold;
}
.hidebox{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -53px;
    margin-left: -3px;
    pointer-events: none;
    opacity: 0;
/*opacity- 0 means we cannot
 see the div there*/
}
.hidebox:hover{
    opacity: 1;/*on hover, the boxes appear*/
    transition: .5s;
    pointer-events: all;
}

.smallbox{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-left: 7px;
    margin-top: 40px;
    border-radius: 7px;
    background: rgb(0, 0, 0);
    cursor: pointer;

}
.smallbox a{
    color: seashell;
    text-decoration: none;
    margin-left: 5px;
    font-size: 13px;
}












footer{
    position: relative;
    margin-top: 50px ;
    height: 100px;
    background: rgba(165, 165, 165, 0.418);
    display: flex;
    flex-direction: column;
    
}
footer .copyright{
    margin: auto;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    color: rgb(124, 0, 0);
}

footer .copyright a{
    
    text-decoration: none;
    color: rgb(12, 0, 46);
}
footer .social{
    margin: auto;
}

footer .social img{
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
}
