@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Bebas+Neue|Fredoka+One&display=swap');



body{

    font-family: 'Barlow', sans-serif;
    background: #ffffff;
   /* background: linear-gradient(#ffffff 0%, #018080 100%);
    background-size: 2000% 2000%;
    */
}
.heading{
    text-align: center;
}
.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: rgb(0, 0, 0);
}
.heading h1 a{
    text-decoration: none;
    color: black;
}
.heading h3{
    margin-top: -30px;
    color: rgb(177, 0, 0);
    font-size: 15px;
}
.about{
    text-align: center;
    font-size: 11px;
}
.about a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 1, 85);
}

.maincontainer{
    display: flex;
    flex-direction: column;
}

.box{
    margin: auto;
    box-sizing: border-box;
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    background: #c0c0c05e;
    display: flex;
    flex-direction: column;
    
}
.box:hover{
    border-color: #adadad;  
    background: #95e1e67a;
    transition:  .3s;
}

.box .dept{
    margin: auto;
    position: relative;
    font-size: 25px;
    margin-top: 10px;
    color: #009468c4;
    font-weight: bold;
    pointer-events: none;
}

.box .yearselect{margin: auto;
    color: #252525;
    font-weight: bold;
    font-size: 10px;
}
.hidebox{
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -53px;
    
}


.smallbox{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-top: 80px;
    border-radius: 7px;
    background: #940000c9;
    cursor: pointer;

}
.smallbox a{
    position: relative;
    text-align: center;
    color: seashell;
    text-decoration: none;
    font-size: 12px;
}


@media (min-width:641px){
    /*the circles will be in row for big screens,
    utilising max screen space*/
    .maincontainer{
        flex-direction: row;
    }
    
}









footer{
    position: relative;
    margin-top: 50px ;
    height: 100px;
    background: rgba(165, 165, 165, 0.418);
    display: flex;
    flex-direction: column;
    
}
footer .copyright{
    margin: auto;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    color: rgb(124, 0, 0);
}

footer .copyright a{
    
    text-decoration: none;
    color: rgb(12, 0, 46);
}
footer .social{
    margin: auto;
}

footer .social img{
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
}
