@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Bebas+Neue|Fredoka+One&display=swap');



body{

    font-family: 'Barlow', sans-serif;
    background: #ffffff;
   /* background: linear-gradient(#ffffff 0%, #018080 100%);
    background-size: 2000% 2000%;
    */
}
.heading{
    text-align: center;
}
.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: rgb(0, 0, 0);
}
.heading h1 a{
    text-decoration: none;
    color: black;
}
.heading h3{
    margin-top: -30px;
    color: rgb(177, 0, 0);
    font-size: 15px;
}
.about{
    text-align: center;
    font-size: 11px;
}
.about a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 1, 85);
}

.wasend{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgba(0, 125, 156, 0.411);
}
.wasend .heading{
    font-weight: 900;
}
.wasend .detail{
    font-size: 10px;
}



.toscript{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.toscript img{
    width: 40px;
}
.toscript .text{
    font-size: 10px;
}







footer{
    position: relative;
    margin-top: 50px ;
    height: 100px;
    background: rgba(165, 165, 165, 0.418);
    display: flex;
    flex-direction: column;
    
}
footer .copyright{
    margin: auto;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    color: rgb(124, 0, 0);
}

footer .copyright a{
    
    text-decoration: none;
    color: rgb(12, 0, 46);
}
footer .social{
    margin: auto;
}

footer .social img{
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
}
